html
  head
    link(href="./css/cgmemory.css" type="text/css" rel="stylesheet")
    style
      | [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
  body(ng-app="cgmemory")
    .container(ng-controller="TimelineController as vm" ng-cloak)
      .background

      .timeline-nav
        .timeline-nav--item(ng-repeat="splitVal in vm.getSplitVals()"
          ng-click="vm.scrollTo(splitVal)"
        ) {{ splitVal }}

      .timeline-videos
        .video-position-container(
          ng-repeat="video in vm.videos"
          ng-class="vm.getVideoContainerClass(video)"
        )
          .video-container.hvr-grow(ng-class="vm.getVideoThumbnailClass(video)")
            .video--description.animated.fadeIn
              span {{ video.snippet.title }}
            img.video--thumbnail(ng-src="{{ video.snippet.thumbnails.medium.url }}"
              title="{{ video.snippet.title }}"
              scroll-item="video"
              tracker="vm.scrollTracker")

  script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
  script(src="./js/libs.js")
  script(src="./js/bundle.js")

